$page-background-color: #ffffff;
$primary-color: #333333;
$black: #000000;
$emerald: #046307;
$dark-green: #046307;
$gold: #FFD700;
$button-color: #efefef;

// $header-font: 'The Nautigal', cursive;
// $paragraph-font: 'Crimson Pro', serif;
$header-font: 'Spectral', serif;
$paragraph-font: 'Spectral', serif;
/* Using SCSS variables to store breakpoints */
$breakpoint-tablet: 768px;
$breakpoint-phone: 500px;

$phone-width: 90%;
$desktop-width: 400px;

$phone-margin: 8px;
$desktop-margin: 4rem;

body {
    font-family: $paragraph-font;
    margin: 0;
}

h1 {
    color: $black;
    font-family: $header-font;
    font-size: 56px;
    line-height: 1;
    font-weight: normal;
    letter-spacing: 3px;
    margin: 36px 0;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    color: $black;
    font-family: $header-font;
    font-size: 32px;
    line-height: 1;
    font-weight: normal;
    letter-spacing: 3px;
    margin: 16px 0;
    text-align: center;
    text-transform: uppercase;
}

h3 {
    color: $black;
    font-family: $header-font;
    font-size: 20px;
    line-height: 1;
    font-weight: normal;
    letter-spacing: 3px;
    margin: 8px 0;
    text-align: center;
    text-transform: uppercase;
}

p {
    color: $black;
    font-size: 1rem;
}

button {
    margin: 2rem auto;
    padding: .5rem 1rem;
    width: 100%;
    max-width: 250px;
    color: $black;
    border-color: $black;
    border-radius: 1rem;
    font-weight: bold;
    background-color: $button-color;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;

    .labeled-input {
        width: 100%;
        margin: 1rem 0;
        text-align: left;

        label {
            display: block;
            margin-bottom: 8px;
            font-weight: bold;
        }
    
        input {
            display: block;
            width: calc(100% - 12px);
            height: 24px;
            padding: 4px;
            border-radius: 4px;
            border-color: $black;
            color: $black;
        }
    
        select {
            display: block;
            width: 100%;
            height: 32px;
            border-radius: 4px;
            border-color: $black;
            color: $black;
        }
    }

    .labeled-input-checkbox {
        margin: 1rem 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-weight: bold;
    
        input[type="checkbox"] {
            clip: rect(0 0 0 0);
            clip-path: inset(50%);
            height: 1px;
            overflow: hidden;
            position: absolute;
            white-space: nowrap;
            width: 1px;
        }

    }

    input[type="submit"] {
        margin: 1rem 0;
        padding: .5rem 1rem;
        width: 100%;
        color: $black;
        border-color: $black;
        border-radius: 1rem;
        font-weight: bold;
        background-color: $button-color;
        cursor: pointer;
    }

    textarea {
        padding: 8px;
        width: calc(100% - 16px);
        color: $black;
        font-weight: bold;
        background-color: #f5f5f5;
        height: 200px;
    }
}

table {
    table-layout: fixed;
    width: 100%;

    thead {
        th {
            text-align: center;
        }
    }
    tbody {
        tr {
            td {
                text-align: center;
                overflow: hidden;

                button {
                    width: 36px;
                    height: 36px;
                    padding: 0;
                    border: none;
                    margin: 0;
                    background-color: transparent;
                    font-size: 18px;
                }

                input {
                    margin: 4px 0;
                    width: calc(100% - 10px);
                }
            }

            .button-cell {
                width: 36px;
            }

            .buttons-cell {
                button {
                    display: inline;
                }
            }
        }
    }
}

hr {
    width: 80%;
    color: $black;
}

img {
    display: block;
    max-width:100%;
    width: auto;
    height: auto;
}

footer {

    .attribution {
        font-size: 12px;
        font-weight: 200;
        margin: 0;
        text-align: center;
    }

    div {
        font-size: 12px;
        font-weight: 200;
        margin: 0 auto;
        width: auto;
        max-width: 200px;
        text-align: center;
        cursor: pointer;
    }
}

.page-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
}

.page-content {
    flex-grow: 1;
}

.container {
    margin: 1rem auto;
    width: 100%;
    max-width: 1200px;
}

.width-50 {
    margin: 0 auto;
    width: 50%;
}

.form-container {
    margin: 4rem auto;
    width: $desktop-width;
    text-align: center;

    button {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        max-width: inherit;
    }
}

.table-container {
    width: 100%;
    text-align: center;
    margin: $desktop-margin 0;

    h3 {
        font-size: 1.5rem;
    }
}

.nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 36px 0;

    .nav-item { 
        width: auto;
        margin: 0;
        font-size: 16px;
        font-weight: 500;
        font-family: $paragraph-font;
        letter-spacing: 2px;
        line-height: 1;
        padding: 8px 8px 6px;
        border: none;
        background-color: transparent;
        transition: all 0.3s;

        &:hover {
            text-decoration: underline;
        }
    }
}

.accomodations {
    margin: 128px auto;
    text-align: center;

    width: 80%;

    h3 {
        margin: 32px auto;
    }

    img {
        margin: 0 auto;
    }

    p {
        max-width: 600px;
        margin: 16px auto;
    }

    a {
        font-size: 24px;
        font-weight: 500;
        text-decoration: none;
        border: solid 1px black;
        padding: 4px 8px;
        border-radius: 8px 8px;
        background-color: $emerald;
        color: white;
        
    }


}

.couple-pic {
    width: 100%;
    height: 600px;
    object-fit: cover;
}


.floral-header {
    display: block;
    max-width: 800px;
    width: auto;
    height: auto;
    margin: 0 auto;
}

.floral-footer {
    display: block;
    max-width: 400px;
    width: auto;
    height: auto;
    margin: 0 auto;
}

.stone-tree-image {
    display: block;
    max-width: 500px;
    width: auto;
    height: auto;
    margin: 0 auto;
}

.stone-tree-image-div {
    display: block;
    max-width: 500px;
    width: auto;
    height: auto;
    margin: 0 auto;
}

.spinner {
    border: 4px solid white; 
    border-top: 4px solid $black; 
    border-radius: 50%;
    width: 18px;
    height: 18px;
    animation: spin 2s linear infinite;
    margin-left: auto;
    margin-right: auto;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.center-content {
    display: block;
    margin: 0 auto;
    width: 100%;
}


.width-80 {
    width: 80% !important;
}

.center-text {
    text-align: center;
}

.info-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 2rem auto;
}

.info-group {
    margin: 16px 0;

    label {
        display: block;
        font-weight: 600;
        margin-bottom: 4px;
        color: $black;
    }
    p {
        display: block;
        font-weight: 400;
        margin: 0;
    }
}

.tour-video {
    margin-bottom: 128px;
}

.labeled-value {
    width: 100%;
    margin: 1rem 0;

    label {
        display: inline-block;
        width: 50%;
        font-weight: bold;
    }

    p {
        display: inline-block;
        width: 50%;
        font-weight: normal;
        margin: 0;
    }
}

.labeled-value-checkbox {
    margin: 1rem auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;

    label {
        display: block;
        flex-grow: 1;
        margin-bottom: 8px;
        font-weight: bold;
    }

}

.button-wrapper {
    border: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.button-link {
    width: auto;
    margin: 16px;
    font-size: 14px;
    padding: 0;
    border: none;
    background-color: transparent;
}

.checkbox {
    display: inline-block; // set to `inline-block` as `inline elements ignore `height` and `width`
    height: 20px;
    width: 20px;
    background: #fff;
    border: 2px $black solid;
    margin-right: 4px;
}

.checkbox--active {
    border-color: $black;
    background: $black;
}

.error-text {
    color: red;
}

.title-with-buttons {
    display: block;
    position: relative;
    width: 100%;
    margin-bottom: 36px;

    h2 {
        width: 100%;
        text-align: center;
    }

    .button-link-left {
        position: absolute;
        margin: 0;
        width: 36px;
        height: 36px;
        top: 0;
        left: 0;
    }

    .button-link-right {
        position: absolute;
        margin: 0;
        width: 36px;
        height: 36px;
        top: 0;
        right: 0;
    }
}

.mobile-only {
    display: none;
}

@media (max-width: $breakpoint-tablet) {

    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 18px;
    }

    header {
        margin: 0 8px;

        .floral-header {
            max-width: 90vw;
            margin: 0 auto;
            height: auto;
        }
    }

    footer {
    }

    .page-container {
        width: 100%;
        justify-content: space-between;
    }

    .width-50 {
        width: 90%;
    }

    
    .couple-pic {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .stone-tree-image {
        max-width: 90%;
        height: auto;
    }

    .container {
        margin: $phone-margin auto;
        width: $phone-width;
    }

    .form-container {
        height: 100%;
        min-height: 60vh;
        width: $phone-width;
        margin: $phone-margin auto;
    }

    
    .info-container {
        width: $phone-width;
    }
    

    .nav {
        display: flex;
        flex-flow: row wrap;
        justify-content: column;

        .nav-item {

        }
    }

    iframe {
        max-width: 90%;
        height: auto;
    }

    .mobile-only {
        display: block;
    }

}