$page-background-color: #d3d3d3;
$primary-color: #333333;
$emerald: #046307;
$dark-green: #046307;
$gold: #FFD700;
$button-color: #e8e4e4;

$header-font: 'The Nautigal', cursive;
$paragraph-font: 'Crimson Pro', serif;
/* Using SCSS variables to store breakpoints */
$breakpoint-tablet: 768px;
$breakpoint-phone: 500px;

body {
    margin: 0;
    height: 100vh;
    color: $dark-green;
    width: 100vw;
    background: rgb(211,211,211);
    background: linear-gradient(180deg, $page-background-color, white 100%) fixed;
    font-family: $paragraph-font;
}

h1 {
    color: $emerald;
    font-family: $header-font;
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
    margin-top: 0;
}

p {
    color: $emerald;
    font-size: 1.1rem;
    font-weight: bold;
}

button {
    margin: 2rem 0;
    padding: .5rem 1rem;
    width: 100%;
    color: $emerald;
    border-color: $emerald;
    border-radius: 1rem;
    font-weight: bold;
    background-color: $button-color;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;

    .labeled-input {
        label {
            display: block;
            margin-bottom: 8px;
            font-weight: bold;
        }
    
        input {
            display: block;
            height: 24px;
            padding: 4px;
            width: 238px;
            border-radius: 4px;
            border-color: $emerald;
            color: $emerald;
        }
    }

    input[type="submit"] {
        padding: .5rem 1rem;
        width: 100%;
        color: $emerald;
        border-color: $emerald;
        border-radius: 1rem;
        font-weight: bold;
        background-color: $button-color;
        cursor: pointer;
    }
}

.page-container {
    width: 100%;
}

.container {
    margin: 4rem auto;
    width: 250px;
}


.form-container {
    margin: 4rem auto;
    width: 250px;
}

.nav {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}

.center-content {
    display: block;
    margin: 0 auto;
    width: 100%;
}


.width-80 {
    width: 80%;
}

.center-text {
    text-align: center;
}

.button-link {
    width: auto;
    margin: 16px;
    padding: 0;
    border: none;
    background-color: transparent;
}

.error-text {
    color: red;
}

@media (max-width: $breakpoint-tablet) {

    #root {
        height: 100%;
    }
    
    .page-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 100%;
    }

    .container {
        margin: 2rem auto;
        width: 250px;
    }

    .form-container {
        height: 100%;
        width: 250px;
        margin: 2rem auto;
    }
    
    form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .labeled-input {
            label {
                display: block;
                margin-bottom: 8px;
                font-weight: bold;
            }
        
            input {
                display: block;
                height: 24px;
                width: 238px;
                padding: 4px;
                border-radius: 4px;
                border-color: $emerald;
                color: $emerald;
            }
        }

        input[type="submit"] {
            flex-grow: 1;
            padding: .5rem 1rem;
            width: 100%;
            color: $emerald;
            border-color: $emerald;
            border-radius: 1rem;
            font-weight: bold;
            background-color: $button-color;
            cursor: pointer;
        }
    }

}