$page-background-color: #d3d3d3;
$primary-color: #333333;
$emerald: #046307;
$dark-green: #046307;
$gold: #FFD700;
$button-color: #e8e4e4;

$header-font: 'The Nautigal', cursive;
$paragraph-font: 'Crimson Pro', serif;
/* Using SCSS variables to store breakpoints */
$breakpoint-tablet: 768px;
$breakpoint-phone: 500px;

$phone-width: 250px;
$desktop-width: 300px;

$phone-margin: 1rem;
$desktop-margin: 4rem;

body {
    margin: 0;
    height: 100vh;
    color: $dark-green;
    width: 100vw;
    background: rgb(211,211,211);
    background: linear-gradient(180deg, $page-background-color, white 100%) fixed;
    font-family: $paragraph-font;
}

h1 {
    color: $emerald;
    font-family: $header-font;
    font-size: 4rem;
    margin: 0;
}

h2 {
    font-size: 2rem;
    margin-top: 0;
}

p {
    color: $emerald;
    font-size: 1.1rem;
    font-weight: bold;
}

button {
    margin: 2rem 0;
    padding: .5rem 1rem;
    width: 100%;
    color: $emerald;
    border-color: $emerald;
    border-radius: 1rem;
    font-weight: bold;
    background-color: $button-color;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    .labeled-input {
        width: 100%;
        margin: 1rem 0;

        label {
            display: block;
            margin-bottom: 8px;
            font-weight: bold;
        }
    
        input {
            display: block;
            width: calc(100% - 12px);
            height: 24px;
            padding: 4px;
            border-radius: 4px;
            border-color: $emerald;
            color: $emerald;
        }
    }

    .labeled-input-checkbox {
        margin: 1rem 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-weight: bold;
    
        input[type="checkbox"] {
            clip: rect(0 0 0 0);
            clip-path: inset(50%);
            height: 1px;
            overflow: hidden;
            position: absolute;
            white-space: nowrap;
            width: 1px;
        }

    }

    input[type="submit"] {
        margin: 1rem 0;
        padding: .5rem 1rem;
        width: 100%;
        color: $emerald;
        border-color: $emerald;
        border-radius: 1rem;
        font-weight: bold;
        background-color: $button-color;
        cursor: pointer;
    }
}

table {
    table-layout: fixed;
    width: 100%;

    thead {
        th {
            text-align: center;
        }
    }
    tbody {
        tr {
            td {
                text-align: center;
                overflow: hidden;

                button {
                    width: 36px;
                    height: 36px;
                    padding: 0;
                    border: none;
                    margin: 0;
                    background-color: transparent;
                    font-size: 18px;
                }
            }

            .button-cell {
                width: 36px;
            }
        }
    }
}

hr {
    width: 80%;
    color: $emerald;
}

.page-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
    max-width: 1000px;
    margin: 0 auto;
}

.page-content {
    flex-grow: 1;
}

.container {
    margin: $desktop-margin auto;
    width: $desktop-width;
}


.form-container {
    margin: 4rem auto;
    width: $desktop-width;
}

.table-container {
    width: 100%;
    text-align: center;
    margin: $desktop-margin 0;

    h3 {
        font-size: 1.5rem;
    }
}

.nav {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}

.center-content {
    display: block;
    margin: 0 auto;
    width: 100%;
}


.width-80 {
    width: 80% !important;
}

.center-text {
    text-align: center;
}

.info-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 2rem auto;

    .labeled-value {
        width: 100%;

        label {
            display: inline-block;
            width: 50%;
            font-weight: bold;
        }
    
        p {
            display: inline-block;
            width: 50%;
            font-weight: normal;
        }
    }

    .labeled-value-checkbox {
        margin: 1rem auto;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-weight: bold;

        label {
            display: block;
            flex-grow: 1;
            margin-bottom: 8px;
            font-weight: bold;
        }

    }
}

.button-link {
    width: auto;
    margin: 16px;
    font-size: 14px;
    padding: 0;
    border: none;
    background-color: transparent;
}

.checkbox {
    display: inline-block; // set to `inline-block` as `inline elements ignore `height` and `width`
    height: 20px;
    width: 20px;
    background: #fff;
    border: 2px $emerald solid;
    margin-right: 4px;
}

.checkbox--active {
    border-color: $emerald;
    background: $emerald;
}

.error-text {
    color: red;
}

.title-with-buttons {
    display: block;
    position: relative;
    width: 100%;

    h2 {
        width: 100%;
        text-align: center;
    }

    .button-link-left {
        position: absolute;
        margin: 0;
        width: 36px;
        height: 36px;
        top: 0;
        left: 0;
    }

    .button-link-right {
        position: absolute;
        margin: 0;
        width: 36px;
        height: 36px;
        top: 0;
        right: 0;
    }
}

@media (max-width: $breakpoint-tablet) {

    .container {
        margin: $phone-margin auto;
        width: $phone-width;
    }

    .form-container {
        height: 100%;
        width: $phone-width;
        margin: $phone-margin auto;
    }

    
    .info-container {
        width: $phone-width;
    }

}